# Node / frontend build artifacts
node_modules/
.next/
out/
dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django / DB
webapp/data/
#*.sqlite3
webapp/.env
.env
key.txt

# OS / editor
.DS_Store
.vscode/

#Debugging
nfc_webapp/
webapp/SETUP_NEW_DEVICE.md
webapp/risk_scoring/TESTING.md
webapp/E2E_VERIFICATION.md